// SCSS의 'VAR, MIXIN, FUNCTION을 공통으로 사용하기 위한 목적

@mixin font-size($size) {
  font-size: clamp(10px, $size, 999rem);
}

// Layout inner
$layout_inner: 1920rem;
$layout_pd: 44rem;
$layout_pd_m: 16rem;
$header_h: 80rem;
$header_h_m: 48rem;

// Transition
$expo: cubic-bezier(0.16, 1, 0.3, 1);
$inout: cubic-bezier(0.87, 0, 0.13, 1);
$outback: cubic-bezier(0.34, 1.56, 0.64, 1);

// Primary color
$white: #ffffff;
$black: #000000;
$gray: #eee;
$ci: #FF4B1C;
$ci_s: #F79E8D;
$ci2: #031C61;
$ci2_s: #818BAD;
$deep_blue: #00103B;
$bg: #e3e7f6;

/* Responsive */
@mixin screen($size) {
  @if $size == "pc" {
    @media (min-width: 751px) {
      @content;
    }
  } @else if $size == "mo" {
    @media (max-width: 750px) {
      @content;
    }
  } @else if $size == "tablet" {
    @media (max-width: 960px) {
      @content;
    }
  }@else if $size == "inner" {
    @media (max-width: 1920px) {
      @content;
    }
  }
}

/* 모바일에서 레이아웃에 가둬진 박스의 너비가 풀로 가져가야 할때 */
@mixin m_full_layout($pd: null) {
  margin-left: -$layout_pd_m !important;
  width: calc(100% + #{$layout_pd_m * 2}) !important;

  @if $pd == pd {
    padding-left: $layout_pd_m !important;
    padding-right: $layout_pd_m !important;
  }
}

/* Ellipsis */
@mixin ellip($col: 1) {
  overflow: hidden;
  text-overflow: ellipsis;
  @if ($col == 1) {
    white-space: nowrap;
  } @else {
    white-space: unset;
    display: -webkit-box;
    /* autoprefixer: off */
    box-orient: vertical;
    -webkit-box-orient: vertical;
    /* autoprefixer: on */
    -webkit-line-clamp: $col;
  }
}
